<suite name="Suite1" verbose="1" parallel="none" thread-count="1" data-provider-thread-count="1">
    <listeners> </listeners>
    <test name="Nopackage">
        <classes>
            <class name="org.elena.finalproject.tests.MediaTest"/>
            <class name="org.elena.finalproject.tests.PageTest"/>
            <class name="org.elena.finalproject.tests.PostTest"/>
            <class name="org.elena.finalproject.tests.TagTest"/>
            <class name="org.elena.finalproject.tests.CategoryTest"/>
            <!--  <class name="org.elena.finalproject.tests.UserMenuListTest"/> -->
        </classes>
    </test>
</suite>